.Footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    width: 935px;
    height: 104px;
    background-color:#fafafa;
    
}
.footer-links{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    font-size: 12px;
    line-height: 18px;
    text-align: start;
    width: 698.97px;
    height: 25px;
}

